In [1]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd

In [2]:
df2=pd.read_csv("new_data.csv",parse_dates=["Order Date"])
df2

,Order,Order Date,Store,Status,Pincode,Village,City,State,Agency Paid Date,Agency Paid Updated At,...,POS Received At,Order LMP,Ship LMP,Warehouse Name,LMP Receive Date,Runner Assigned Date,Delivery Date,POD,Delivery Model,Work Flow
0,1163537,2022-03-02,dvara,holded,621804.0,NaN,"Udaiyarpalayam, Ariyalur",Tamil Nadu,NaN,NaN,...,NaN,/,NaN,NaN,NaN,NaN,NaN,NaN,POD,NaN
1,1163536,2022-03-02,dvara,holded,759013.0,NaN,"Shankarpur, DHENKANAL",Odisha,NaN,NaN,...,NaN,AJ Enterprises/L12202101162,NaN,IRML-Odisha,NaN,NaN,NaN,NaN,POD,Wating for approval
2,1163535,2022-03-02,dvara,holded,614903.0,NaN,"MADUKKUR, THIRUVARUR",Tamil Nadu,NaN,NaN,...,NaN,KKR Express/L04201900805,NaN,IRML-Chennai-Vanagaram,NaN,NaN,NaN,NaN,POD,Wating for approval
3,1163534,2022-03-02,dvara,holded,609807.0,NaN,"Pandanallur, THANJAVUR",Tamil Nadu,NaN,NaN,...,NaN,ACP Agency/L09201800234,NaN,IRML-Chennai-Vanagaram,NaN,NaN,NaN,NaN,POD,Wating for approval
4,1163533,2022-03-02,dvara,holded,635307.0,NaN,"Govindapuram, KRISHNAGIRI",Tamil Nadu,NaN,NaN,...,NaN,Sasi Agency/L02201900551,NaN,IRML-Chennai-Vanagaram,NaN,NaN,NaN,NaN,POD,Wating for approval
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65029,1097985,2021-03-05,dvara,canceled,613504.0,NaN,"Thanjavur, THANJAVUR",Tamil Nadu,NaN,NaN,...,NaN,SAI ENTERPRISES/L03201900750,NaN,IRML-Chennai-Vanagaram,NaN,NaN,NaN,NaN,POD,Canceled
65030,1097984,2021-03-05,dvara,canceled,621105.0,NaN,"Trichy, TIRUCHIRAPPALLI",Tamil Nadu,NaN,NaN,...,NaN,Sreeshobi Enterprises/L03202101103,NaN,IRML-Chennai-Vanagaram,NaN,NaN,NaN,NaN,POD,Canceled
65031,1097983,2021-03-05,dvara,canceled,614203.0,NaN,"Papanasam, THANJAVUR",Tamil Nadu,NaN,NaN,...,NaN,SHIV SOLUTIONS/L08202001083,NaN,IRML-Chennai-Vanagaram,NaN,NaN,NaN,NaN,POD,Canceled
65032,1097982,2021-03-05,dvara,canceled,612401.0,NaN,"Kumbakonam, THANJAVUR",Tamil Nadu,NaN,NaN,...,NaN,SHIV SOLUTIONS/L08202001083,NaN,IRML-Chennai-Vanagaram,NaN,NaN,NaN,NaN,POD,Canceled
65033,1097981,2021-03-05,dvara,canceled,621719.0,NaN,"Kodukkur, Ariyalur",Tamil Nadu,NaN,NaN,...,NaN,ACP Agency/L09201800234,NaN,IRML-Chennai-Vanagaram,NaN,NaN,NaN,NaN,POD,Canceled

In [3]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65034 entries, 0 to 65033
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Order                       65034 non-null  int64
 1   Order Date                  65034 non-null  datetime64[ns]
 2   Store                       65034 non-null  object
 3   Status                      65034 non-null  object
 4   Pincode                     65032 non-null  float64
 5   Village                     5943 non-null   object
 6   City                        65030 non-null  object
 7   State                       64998 non-null  object
 8   Agency Paid Date            35785 non-null  object
 9   Agency Paid Updated At      35785 non-null  object
 10  Order Approve Date          10835 non-null  object
 11  Order Type                  65026 non-null  object
 12  Delivery Type               65014 non-null  object
 13  SKU                         65026 non-null  object
 14  Product                     65026 non-null  object
 15  Qty                         65026 non-null  float64
 16  Amount                      65026 non-null  float64
 17  Customer                    65026 non-null  object
 18  Agent Name                  64957 non-null  object
 19  Agent Username              64957 non-null  object
 20  Field Officer               16735 non-null  object
 21  Branch Code                 64946 non-null  object
 22  Branch Name                 64877 non-null  object
 23  Customer Mobile             65024 non-null  float64
 24  Precalling Verified Number  8666 non-null   float64
 25  Precalling Status           65026 non-null  object
 26  Precalling Date             8749 non-null   object
 27  Neft                        65026 non-null  object
 28  Loan ref no                 65026 non-null  object
 29  Customer Id                 65026 non-null  object
 30  Order Notes                 23983 non-null  object
 31  Invoice Number              65026 non-null  object
 32  Invoice Date                56781 non-null  object
 33  Shipment Date               56668 non-null  object
 34  AWB Number                  10580 non-null  object
 35  POS Received At             40808 non-null  object
 36  Order LMP                   65026 non-null  object
 37  Ship LMP                    56668 non-null  object
 38  Warehouse Name              64954 non-null  object
 39  LMP Receive Date            14505 non-null  object
 40  Runner Assigned Date        14129 non-null  object
 41  Delivery Date               38688 non-null  object
 42  POD                         14983 non-null  object
 43  Delivery Model              65026 non-null  object
 44  Work Flow                   65024 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(38)
memory usage: 22.3+ MB

In [4]:
df3=df2.drop(['Order', 'Branch Name', 'SKU','Status','Pincode','Village','City','State','Agency Paid Date','Agency Paid Updated At','Order Approve Date','Order Type','Delivery Type','Amount','Customer','Agent Name','Agent Username','Field Officer','Customer Mobile','Precalling Verified Number','Precalling Status','Precalling Date','Neft','Loan ref no','Customer Id','Order Notes','Invoice Number','Invoice Date','Shipment Date','AWB Number','POS Received At','Order LMP','Ship LMP','Warehouse Name','LMP Receive Date','Runner Assigned Date','Delivery Date','POD','Delivery Model','Work Flow' ],axis='columns')

In [5]:
df3

,Order Date,Store,Product,Qty,Branch Code
0,2022-03-02,dvara,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,1.0,62008
1,2022-03-02,dvara,Havells Hydro 3 Jar 750W Mixer Grinder,1.0,82051
2,2022-03-02,dvara,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,1.0,62071
3,2022-03-02,dvara,"OPPO A16 Mobile (4GB RAM, 64GB ROM)",1.0,62167
4,2022-03-02,dvara,"OPPO A16 Mobile (4GB RAM, 64GB ROM)",1.0,62166
...,...,...,...,...,...
65029,2021-03-05,dvara,Haier 190 Ltrs 2 Star Direct Cool Single Door ...,0.0,62090
65030,2021-03-05,dvara,Haier 190 Ltrs 2 Star Direct Cool Single Door ...,0.0,62186
65031,2021-03-05,dvara,Havells Accelero High Speed 400MM Pedestal Fan,0.0,62092
65032,2021-03-05,dvara,VIVO Y20 (4GB/64GB) Smart Phone,0.0,62087
65033,2021-03-05,dvara,VIVO Y20 (4GB/64GB) Smart Phone,0.0,62121

In [6]:
df3['store_branch']=df3['Store']+df3['Branch Code']
df3

,Order Date,Store,Product,Qty,Branch Code,store_branch
0,2022-03-02,dvara,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,1.0,62008,dvara62008
1,2022-03-02,dvara,Havells Hydro 3 Jar 750W Mixer Grinder,1.0,82051,dvara82051
2,2022-03-02,dvara,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,1.0,62071,dvara62071
3,2022-03-02,dvara,"OPPO A16 Mobile (4GB RAM, 64GB ROM)",1.0,62167,dvara62167
4,2022-03-02,dvara,"OPPO A16 Mobile (4GB RAM, 64GB ROM)",1.0,62166,dvara62166
...,...,...,...,...,...,...
65029,2021-03-05,dvara,Haier 190 Ltrs 2 Star Direct Cool Single Door ...,0.0,62090,dvara62090
65030,2021-03-05,dvara,Haier 190 Ltrs 2 Star Direct Cool Single Door ...,0.0,62186,dvara62186
65031,2021-03-05,dvara,Havells Accelero High Speed 400MM Pedestal Fan,0.0,62092,dvara62092
65032,2021-03-05,dvara,VIVO Y20 (4GB/64GB) Smart Phone,0.0,62087,dvara62087
65033,2021-03-05,dvara,VIVO Y20 (4GB/64GB) Smart Phone,0.0,62121,dvara62121

In [7]:
df4=df3.drop(['Store','Branch Code'],axis='columns')
df4

,Order Date,Product,Qty,store_branch
0,2022-03-02,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,1.0,dvara62008
1,2022-03-02,Havells Hydro 3 Jar 750W Mixer Grinder,1.0,dvara82051
2,2022-03-02,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,1.0,dvara62071
3,2022-03-02,"OPPO A16 Mobile (4GB RAM, 64GB ROM)",1.0,dvara62167
4,2022-03-02,"OPPO A16 Mobile (4GB RAM, 64GB ROM)",1.0,dvara62166
...,...,...,...,...
65029,2021-03-05,Haier 190 Ltrs 2 Star Direct Cool Single Door ...,0.0,dvara62090
65030,2021-03-05,Haier 190 Ltrs 2 Star Direct Cool Single Door ...,0.0,dvara62186
65031,2021-03-05,Havells Accelero High Speed 400MM Pedestal Fan,0.0,dvara62092
65032,2021-03-05,VIVO Y20 (4GB/64GB) Smart Phone,0.0,dvara62087
65033,2021-03-05,VIVO Y20 (4GB/64GB) Smart Phone,0.0,dvara62121

In [8]:
df4.isnull().sum()

Order Date       0
Product          8
Qty              8
store_branch    88
dtype: int64

In [9]:
new_df = df4.fillna(method="bfill")
new_df

,Order Date,Product,Qty,store_branch
0,2022-03-02,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,1.0,dvara62008
1,2022-03-02,Havells Hydro 3 Jar 750W Mixer Grinder,1.0,dvara82051
2,2022-03-02,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,1.0,dvara62071
3,2022-03-02,"OPPO A16 Mobile (4GB RAM, 64GB ROM)",1.0,dvara62167
4,2022-03-02,"OPPO A16 Mobile (4GB RAM, 64GB ROM)",1.0,dvara62166
...,...,...,...,...
65029,2021-03-05,Haier 190 Ltrs 2 Star Direct Cool Single Door ...,0.0,dvara62090
65030,2021-03-05,Haier 190 Ltrs 2 Star Direct Cool Single Door ...,0.0,dvara62186
65031,2021-03-05,Havells Accelero High Speed 400MM Pedestal Fan,0.0,dvara62092
65032,2021-03-05,VIVO Y20 (4GB/64GB) Smart Phone,0.0,dvara62087
65033,2021-03-05,VIVO Y20 (4GB/64GB) Smart Phone,0.0,dvara62121

In [10]:
new_df.isnull().sum()

Order Date      0
Product         0
Qty             0
store_branch    0
dtype: int64

In [11]:
df5=new_df.groupby(['Order Date','Product', 'store_branch']).sum()
df5

                                                                               Qty
Order Date Product                                            store_branch
2021-01-07 Pigeon Deluxe Calida 5L Induction BaseÂ Alumini... inditrade133066  2.0
           Pigeon Platino 2 Litre Wet Grinder                 Cash101010       1.0
                                                              inditrade133066  1.0
           Samsung 192 L 3 Star Direct Cool Single Door RR... Belstar43009     1.0
                                                              Belstar57204     1.0
...                                                                            ...
2022-12-01 Voltas Beko 185 Liters 2 star single Door Refri... dvara62020       3.0
                                                              dvara62223       1.0
           Voltas Beko 7.5 KG Semi Automatic Washing Machine  Belstar53178     1.0
                                                              dvara62064       1.0
                                                              dvara82074       1.0

[19301 rows x 1 columns]

In [12]:
df_grouped = df4[['Order Date','Product', 'store_branch','Qty']]
df_grouped = df_grouped.groupby(['Order Date','Product', 'store_branch'], as_index=False)

# Grouped gives us the indices we want for each grouping
# We cannot convert a groupedby object back to a dataframe, so we need to do it manually
# Create a new dataframe to work against
df_aggregated = df_grouped.size().reset_index()




def manualAggregations(indices_array):
    temp_df = df4.iloc[indices_array]
    return {
        'total_qty': temp_df['Qty'].sum(),
        
    }

for name, group in df_grouped:
    ix = df_grouped.indices[name]
    calcDict = manualAggregations(ix)

    for key in calcDict:
        #Salary Basis, Job Title
        columns = list(name)
        df_aggregated.loc[(df_aggregated['Order Date'] == columns[0]) & 
                          (df_aggregated['Product'] == columns[1]) & (df_aggregated['store_branch'] == columns[2]) , key] = calcDict[key]

In [13]:
df_aggregated

,index,Order Date,Product,store_branch,size,total_qty
0,0,2021-01-07,Pigeon Deluxe Calida 5L Induction BaseÂ Alumin...,inditrade133066,2,2.0
1,1,2021-01-07,Pigeon Platino 2 Litre Wet Grinder,Cash101010,1,1.0
2,2,2021-01-07,Pigeon Platino 2 Litre Wet Grinder,inditrade133066,1,1.0
3,3,2021-01-07,Samsung 192 L 3 Star Direct Cool Single Door R...,Belstar43009,1,1.0
4,4,2021-01-07,Samsung 192 L 3 Star Direct Cool Single Door R...,Belstar57204,1,1.0
...,...,...,...,...,...,...
19229,19229,2022-12-01,Voltas Beko 185 Liters 2 star single Door Refr...,dvara62020,3,3.0
19230,19230,2022-12-01,Voltas Beko 185 Liters 2 star single Door Refr...,dvara62223,1,1.0
19231,19231,2022-12-01,Voltas Beko 7.5 KG Semi Automatic Washing Machine,Belstar53178,1,1.0
19232,19232,2022-12-01,Voltas Beko 7.5 KG Semi Automatic Washing Machine,dvara62064,1,1.0
19233,19233,2022-12-01,Voltas Beko 7.5 KG Semi Automatic Washing Machine,dvara82074,1,1.0

In [14]:
df_aggregated['total_qty']=df_aggregated['total_qty'].astype('int32')

In [15]:
df7=df_aggregated.drop(['index','size'],axis='columns')

In [16]:
df7.to_csv("final_data.csv",index=False)

In [17]:
df7

,Order Date,Product,store_branch,total_qty
0,2021-01-07,Pigeon Deluxe Calida 5L Induction BaseÂ Alumin...,inditrade133066,2
1,2021-01-07,Pigeon Platino 2 Litre Wet Grinder,Cash101010,1
2,2021-01-07,Pigeon Platino 2 Litre Wet Grinder,inditrade133066,1
3,2021-01-07,Samsung 192 L 3 Star Direct Cool Single Door R...,Belstar43009,1
4,2021-01-07,Samsung 192 L 3 Star Direct Cool Single Door R...,Belstar57204,1
...,...,...,...,...
19229,2022-12-01,Voltas Beko 185 Liters 2 star single Door Refr...,dvara62020,3
19230,2022-12-01,Voltas Beko 185 Liters 2 star single Door Refr...,dvara62223,1
19231,2022-12-01,Voltas Beko 7.5 KG Semi Automatic Washing Machine,Belstar53178,1
19232,2022-12-01,Voltas Beko 7.5 KG Semi Automatic Washing Machine,dvara62064,1
19233,2022-12-01,Voltas Beko 7.5 KG Semi Automatic Washing Machine,dvara82074,1

In [18]:
df7['month'] = df7['Order Date'].dt.month
df7.drop('Order Date',axis='columns',inplace=True)
df7

,Product,store_branch,total_qty,month
0,Pigeon Deluxe Calida 5L Induction BaseÂ Alumin...,inditrade133066,2,1
1,Pigeon Platino 2 Litre Wet Grinder,Cash101010,1,1
2,Pigeon Platino 2 Litre Wet Grinder,inditrade133066,1,1
3,Samsung 192 L 3 Star Direct Cool Single Door R...,Belstar43009,1,1
4,Samsung 192 L 3 Star Direct Cool Single Door R...,Belstar57204,1,1
...,...,...,...,...
19229,Voltas Beko 185 Liters 2 star single Door Refr...,dvara62020,3,12
19230,Voltas Beko 185 Liters 2 star single Door Refr...,dvara62223,1,12
19231,Voltas Beko 7.5 KG Semi Automatic Washing Machine,Belstar53178,1,12
19232,Voltas Beko 7.5 KG Semi Automatic Washing Machine,dvara62064,1,12
19233,Voltas Beko 7.5 KG Semi Automatic Washing Machine,dvara82074,1,12

In [19]:
df7.month.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [20]:
store_dummies=pd.get_dummies(df7['store_branch'])

In [21]:
s=store_dummies.shape[1]
s

1002

In [22]:
df8=pd.concat([df7,store_dummies],axis='columns')
df8

,Product,store_branch,total_qty,month,Arohan ME32113,Arohan ME32114,Arohan30315,Arohan30324,Arohan30345,Arohan30348,...,inditrade133141,inditrade133142,inditrade133144,inditrade133145,inditrade133146,inditrade133147,inditrade133148,inditrade133149,inditrade133150,inditrade133153
0,Pigeon Deluxe Calida 5L Induction BaseÂ Alumin...,inditrade133066,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Pigeon Platino 2 Litre Wet Grinder,Cash101010,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Pigeon Platino 2 Litre Wet Grinder,inditrade133066,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Samsung 192 L 3 Star Direct Cool Single Door R...,Belstar43009,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Samsung 192 L 3 Star Direct Cool Single Door R...,Belstar57204,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19229,Voltas Beko 185 Liters 2 star single Door Refr...,dvara62020,3,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19230,Voltas Beko 185 Liters 2 star single Door Refr...,dvara62223,1,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19231,Voltas Beko 7.5 KG Semi Automatic Washing Machine,Belstar53178,1,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19232,Voltas Beko 7.5 KG Semi Automatic Washing Machine,dvara62064,1,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19233,Voltas Beko 7.5 KG Semi Automatic Washing Machine,dvara82074,1,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df8[df8['Product']=='VIVO Y21 (4GB RAM /64GB ROM) Smart Phone']

,Product,store_branch,total_qty,month,Arohan ME32113,Arohan ME32114,Arohan30315,Arohan30324,Arohan30345,Arohan30348,...,inditrade133141,inditrade133142,inditrade133144,inditrade133145,inditrade133146,inditrade133147,inditrade133148,inditrade133149,inditrade133150,inditrade133153
340,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,dvara62003,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
341,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,dvara62026,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
342,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,dvara62033,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
343,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,dvara62039,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
344,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,dvara62046,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19215,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,dvara82028,1,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19216,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,dvara82043,1,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19217,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,dvara82057,1,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19218,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,dvara82074,3,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19219,VIVO Y21 (4GB RAM /64GB ROM) Smart Phone,dvara82081,2,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
product=pd.get_dummies(df7['Product'])
df9=pd.concat([df8,product],axis='columns')

In [25]:
p=product.shape[1]
p

515

In [26]:
df10=df9.drop(['Product','store_branch'],axis='columns')
df10

,total_qty,month,Arohan ME32113,Arohan ME32114,Arohan30315,Arohan30324,Arohan30345,Arohan30348,Arohan30350,Arohan30352,...,"Zebronic Bluetooth Head set (Neck Band),ZEBRONICS ZEB-S990",Zebronics Bluetooth Buds,Zebronics H ZEBRONICS STEREO EARPHONE WITH MIC,Zebronics H-ZEBRONICS SPORT BLUETOOTH 2 IN 1 EARPHONE WITH MIC (FAITH),"Zebronics H-ZEBRONICS SPORT BLUETOOTH 2 IN 1 EARPHONE WITH MIC (FAITH),ZEBRONICS ZEB-S990","Zebronics H-ZEBRONICS SPORT BLUETOOTH 2 IN 1 EARPHONE WITH MIC (FAITH),Zebronics SPK-ZEBRONICS MOBILE BATTERY CHARGER WITH PORTABLE BLUETOOTH SPEAKER (ESTEEM),ZEBRONICS ZEB-S990",Zebronics Portable Bluetooth Sound Bar,"Zebronics Portable Bluetooth Sound Bar,Zebronics Zeb Lark Wireless Bluetooth Neckband Headset","Zebronics SPK-ZEBRONICS MOBILE BATTERY CHARGER WITH PORTABLE BLUETOOTH SPEAKER (ESTEEM),ZEBRONICS ZEB-S990",Zebronics Zeb Lark Wireless Bluetooth Neckband Headset
0,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19229,3,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19230,1,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19231,1,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19232,1,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19233,1,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
X = df10.drop(['total_qty'],axis='columns')
X.head(3)

,month,Arohan ME32113,Arohan ME32114,Arohan30315,Arohan30324,Arohan30345,Arohan30348,Arohan30350,Arohan30352,Arohan30703,...,"Zebronic Bluetooth Head set (Neck Band),ZEBRONICS ZEB-S990",Zebronics Bluetooth Buds,Zebronics H ZEBRONICS STEREO EARPHONE WITH MIC,Zebronics H-ZEBRONICS SPORT BLUETOOTH 2 IN 1 EARPHONE WITH MIC (FAITH),"Zebronics H-ZEBRONICS SPORT BLUETOOTH 2 IN 1 EARPHONE WITH MIC (FAITH),ZEBRONICS ZEB-S990","Zebronics H-ZEBRONICS SPORT BLUETOOTH 2 IN 1 EARPHONE WITH MIC (FAITH),Zebronics SPK-ZEBRONICS MOBILE BATTERY CHARGER WITH PORTABLE BLUETOOTH SPEAKER (ESTEEM),ZEBRONICS ZEB-S990",Zebronics Portable Bluetooth Sound Bar,"Zebronics Portable Bluetooth Sound Bar,Zebronics Zeb Lark Wireless Bluetooth Neckband Headset","Zebronics SPK-ZEBRONICS MOBILE BATTERY CHARGER WITH PORTABLE BLUETOOTH SPEAKER (ESTEEM),ZEBRONICS ZEB-S990",Zebronics Zeb Lark Wireless Bluetooth Neckband Headset
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
y = df10.total_qty
y.head(3)

0    2
1    1
2    1
Name: total_qty, dtype: int32

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [30]:
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [31]:
lr.score(X_test,y_test)

0.07503772610672277

In [32]:
X_train.shape

(15387, 1518)

In [33]:
df10['total_qty'].describe()

count    19234.000000
mean         3.942654
std         18.044832
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max       1872.000000
Name: total_qty, dtype: float64

In [137]:
model_layer = keras.Sequential([
    keras.layers.Dense(1000, input_shape=(1518,),activation='tanh' ),
    keras.layers.Dense(1873,activation='sigmoid')
])

model_layer.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

model_layer.fit(X_train,y_train, epochs=5)

Epoch 1/5
481/481 [==============================] - 16s 32ms/step - loss: 1.5744 - accuracy: 0.6316
Epoch 2/5
481/481 [==============================] - 15s 32ms/step - loss: 1.0655 - accuracy: 0.6821
Epoch 3/5
481/481 [==============================] - 15s 31ms/step - loss: 0.9722 - accuracy: 0.6950
Epoch 4/5
481/481 [==============================] - 14s 30ms/step - loss: 0.9215 - accuracy: 0.7010
Epoch 5/5
481/481 [==============================] - 14s 30ms/step - loss: 0.8795 - accuracy: 0.7057

In [85]:
model_layer.evaluate(X_test,y_test)

121/121 [==============================] - 1s 6ms/step - loss: 1.1915 - accuracy: 0.6756

[1.191497564315796, 0.6755913496017456]

In [134]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3847 entries, 13735 to 4368
Columns: 1518 entries, month to Zebronics Zeb Lark Wireless Bluetooth Neckband Headset
dtypes: int64(1), uint8(1517)
memory usage: 5.6 MB

In [129]:
def predict_quantity(storebranch,product,month): 
    storebranch_index = np.where(X.columns==storebranch)[0][0]
    product_index = np.where(X.columns==product)[0][0]
    

    x = np.zeros(len(X.columns))
    x[0] = month
    
    if storebranch_index >= 0:
        x[storebranch_index] = 1
    if product_index >= 0:
        x[product_index] = 1
    arr=np.array([x])
    return np.argmax((model_layer.predict([arr][0])))

In [130]:
X_test

,month,Arohan ME32113,Arohan ME32114,Arohan30315,Arohan30324,Arohan30345,Arohan30348,Arohan30350,Arohan30352,Arohan30703,...,"Zebronic Bluetooth Head set (Neck Band),ZEBRONICS ZEB-S990",Zebronics Bluetooth Buds,Zebronics H ZEBRONICS STEREO EARPHONE WITH MIC,Zebronics H-ZEBRONICS SPORT BLUETOOTH 2 IN 1 EARPHONE WITH MIC (FAITH),"Zebronics H-ZEBRONICS SPORT BLUETOOTH 2 IN 1 EARPHONE WITH MIC (FAITH),ZEBRONICS ZEB-S990","Zebronics H-ZEBRONICS SPORT BLUETOOTH 2 IN 1 EARPHONE WITH MIC (FAITH),Zebronics SPK-ZEBRONICS MOBILE BATTERY CHARGER WITH PORTABLE BLUETOOTH SPEAKER (ESTEEM),ZEBRONICS ZEB-S990",Zebronics Portable Bluetooth Sound Bar,"Zebronics Portable Bluetooth Sound Bar,Zebronics Zeb Lark Wireless Bluetooth Neckband Headset","Zebronics SPK-ZEBRONICS MOBILE BATTERY CHARGER WITH PORTABLE BLUETOOTH SPEAKER (ESTEEM),ZEBRONICS ZEB-S990",Zebronics Zeb Lark Wireless Bluetooth Neckband Headset
13735,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8093,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6771,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3042,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1490,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18193,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14644,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8522,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3508,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4368,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:

y_predicted = model_layer.predict(X_test)
y_predicted

array([[9.9964255e-01, 9.9363452e-01, 9.9970680e-01, ..., 6.7276414e-05,
        5.1871742e-05, 2.5204967e-05],
       [9.9861479e-01, 9.9986446e-01, 9.9768567e-01, ..., 2.7435975e-05,
        2.1575694e-05, 1.2365963e-05],
       [9.9998862e-01, 9.9997514e-01, 9.9939287e-01, ..., 3.3560264e-05,
        2.9314662e-05, 1.3868570e-05],
       ...,
       [7.7037972e-01, 8.8784730e-01, 7.8153801e-01, ..., 7.4780837e-05,
        5.7385856e-05, 4.0676718e-05],
       [9.9990392e-01, 9.9980867e-01, 9.9854243e-01, ..., 6.9380891e-05,
        5.7738227e-05, 3.2448868e-05],
       [8.8950521e-01, 9.8947835e-01, 9.7699749e-01, ..., 9.6413493e-04,
        7.0339441e-04, 5.4374337e-04]], dtype=float32)

In [132]:
y_predicted_labels = [np.argmax(i) for i in y_predicted]
y_predicted_labels[2813]

#for i in range(len(y_predicted_labels)):
   # if y_predicted_labels[i]==20:
   #     print(i)

20

In [133]:
predict_quantity('Cash101010','Pigeon Platino 2 Litre Wet Grinder',1)

1

In [108]:
pred_df=pd.DataFrame(data=y_test,columns=['y_test'])
pred_df['y_pred']=y_predicted_labels

In [109]:
y_predicted_labels[:10]

[2, 1, 0, 2, 1, 1, 2, 1, 1, 1]

In [110]:
a=[i for i in y_test]
a[:10]

[2, 1, 0, 2, 0, 1, 2, 1, 1, 1]

In [ ]:
import os
model_version=max([int(i) for i in os.listdir("../models") + [0]])+1
model_layer.save(f"../models/{model_version}")

In [ ]:
model_layer.save('myModel/')

In [ ]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))